@media screen and (min-width: 768px) {
    .friends-gallary {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        justify-content: space-between;
        align-items: normal;
        // justify-content: space-around;
    }
}

.article-content {

    .friends-list {
        display: flex;
        flex: 1;
        align-items: center;

        margin: 10px;
        right: 0px;

        width: auto;
        height: auto;
        min-width: 32%;
        max-width: 100%;
        background-color: var(--card-background);
        border-radius: var(--card-border-radius);
        box-shadow: var(--shadow-l1);
        flex-direction: row;

        padding: 1.5% 1% 1% 1%;
        .friend-avatar {
            .friend-avatar-img {
                margin-left: 10px;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                object-fit: fill;
                border-style: solid;
                border-color: var(--table-border-color);
            }
        }

        .friend-info {
            float: right;
            margin-left: 20px;
            width: 50%;

            .friend-name {
                font-size: 2.0rem;
                font-weight: 500;
            }

            .friend-desc {
                font-size: 1.6rem;
                line-height: 120%;
                word-wrap: break-word;
                margin-bottom: 2%;
            }
        }

        &:hover {
            box-shadow: var(--shadow-l2);
            transition: box-shadow 0.5s;
            -webkit-transition: box-shadow 0.5s;
        }
    }
}
